{% extends 'main/base.html' %}

{% block title %}Kontak Saya - My Portfolio{% endblock %}

{% block content %}
<section class="content py-5">
  <div class="container">
    <h2 class="text-center mb-4">Hubungi Saya Melalui :</h2>

    <!-- Sosial Media Icons -->
    <div class="text-center mt-5">
      <div class="d-flex justify-content-center mt-3">
        <!-- WhatsApp -->
        <a href="https://wa.me/6289673871010" target="_blank" class="mx-3" title="WhatsApp">
          <i class="fab fa-whatsapp fa-2x" style="color: #25D366;"></i>
        </a>

        <!-- Instagram -->
        <a href="https://www.instagram.com/arfendorendis/" target="_blank" class="mx-3" title="Instagram">
          <i class="fab fa-instagram fa-2x" style="color: #E1306C;"></i>
        </a>

        <!-- LinkedIn -->
        <a href="http://www.linkedin.com/in/rendis-arfendo-81289a1b6" target="_blank" class="mx-3" title="LinkedIn">
          <i class="fab fa-linkedin fa-2x" style="color: #0e76a8;"></i>
        </a>

      </div>
    </div>
  </div>
</section>

<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}
